<!DOCTYPE html>
<html lang="en">
<head>
  <title>TAREA 1 HOMEPAGE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style media="screen">
    .wrapper {
      text-align: center;
    }
    .button {
      position: absolute;
      top: 50%;
    }
  </style>
</head>

<body>
  <div class="wrapper">
    <a href="/create">
      <p align="center">
    <button type="button" style="background-color:yellow;margin-left:auto;margin-right:auto;display:block;margin-top:22%;margin-bottom:0%"> CREAR COMENTARIO</button>
    </p>
    </a>
  </div>


  <div class="wrapper">
    <a href="/comments">
      <p align="center">
    <button type="button" style="background-color:yellow"> VER COMENTARIOS</button>
    </p>
    </a>
  </div>


</body>


</html>
